.DS_Store
zsh/plugins/*
!zsh/plugins/.gitkeep
.env
wallpapers/*
!wallpapers/.gitkeep
zsh/zshrc.local
opencode/plugins/*
!opencode/plugins/.gitkeep

# Secure Static Storage Vault (.secrets/)
.secrets/**/*
!.secrets/**/
!.secrets/**/.gitkeep
!.secrets/README.md
!.secrets/**/*.example

